.typography--variant-h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Nunito;
  font-style: normal;
  text-align: center;
  /* margin: 1.5em 0; */
}

/* New to Bubble Colony?New to Bubble Colony? */
.typography--variant-h2 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
}

/* shop by category, deal&promos */
.typography--variant-h3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Nunito;
  font-style: normal;
  color: #03232e;
  /* align-items: center; */
}

/* footer header */
.typography--variant-h4 {
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

/* toys, all categories, clothing */
.typography--variant-h5 {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

/* hi ifeanyi, product name */
.typography--variant-h6 {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
}

.typography--variant-subheading1 {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.typography--variant-subheading2 {
  font-size: 0.875rem;
  font-weight: 500;
}

.typography--variant-body1 {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/* Footer subpoints */
.typography--variant-body2 {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/* Subscribe to our newsletter to stay updated with the latest news and special sales.
Leave your email address here! */
.typography--variant-body3 {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

/* sidbar letters */
.typography--variant-body4 {
  font-family: Nunito;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.typography--color-primary {
  color: #03232e;
}

.typography--color-grey {
  color: #9b9b9b;
  min-height: max-content;
}

.typography--color-lightgrey {
  color: #d9dbe1;
}

.typography--color-blue {
  color: #0c8dba;
}

.typography--color-white {
  color: #ffffff;
}

.typography--color-error {
  color: #eb5757;
}
