.button {
  background-color: #0c8dba;
  width: 51px;
  color: #ffff;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .button > * + * {
  margin-left: 1em;
} */

.backButton:hover {
  cursor: pointer;
}
