.container {
  display: flex;
  border-radius: 4px;
}

.input {
  width: 550px;
  border: none;
  border-radius: 4px;
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 1em;
}

.searchIcon {
  background-color: #ba390c;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
