.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  width: fit-content;
}

.children {
  grid-column: 1/2;
  grid-row: 2/4;
  min-height: 70vh;
  background-color: #e5e5e5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #03232e;
  grid-column: 1/2;
  grid-row: 4/5;
}

.footerContent {
  display: flex;
  padding: 4em 5.93em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerContent > div {
  flex: calc(25% - 4em);
}

.footerContent > div + div {
  margin-left: 4em;
}

.footerSocials {
  display: flex;
  justify-content: flex-start;
}

.socialLinks + .socialLinks {
  margin-left: 1.7em;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.aboutUs ul {
  list-style: none;
  padding: 0;
  align-self: start;
}

.aboutUs ul li + li {
  margin-top: 0.75em;
}

.aboutUs ul li img {
  margin-right: 0.75em;
}

.aboutUs .contactUsPoints li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchBoxBorder {
  border: 1px solid rgba(38, 38, 38, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .footerContent {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
    grid-gap: 2em;
  }

  .footerContent > div + div {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
    grid-gap: 2em;
  }

  .footerContent > div + div {
    margin-left: 0;
  }

  .aboutUs > ul {
    margin-top: 2em;
  }
}
