.input {
  width: 550px;
  border: none;
  border-radius: 4px;
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 1em;
}

.selecta {
  width: 176px;
  border: none;
  border-right: 0.1em solid grey;
  /* border-radius: 0.25em; */
  padding: 0.25em 1em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  display: grid;
  grid-template-areas: "select";
  align-items: center;

  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
}

.selecta::after {
  grid-area: select;
  justify-self: end;
  /* align-items: center; */
}
.selecta select {
  grid-area: select;
  justify-self: end;
  /* align-items: center; */
}

.selecta::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.selecta select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.selecta select::-ms-expand {
  display: none;
}

.textInput {
  /* This might break things ahead */
  /* width: calc(50% - 0.5em); */
  min-height: 48px;
  margin: 0.5em 0 1em 0;

  background: rgba(12, 141, 186, 0.02);
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: "2em";
  font-family: Nunito;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 1em;
}

/* SWITCH STYLES */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
