.container {
  background-color: #ffff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  background-color: #0c8dba;
  width: 51px;
  height: 30px;
  color: #ffff;
  margin-left: 0.3em;
  border: none;
}

.colorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.7em;
}
