.container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.crumb {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.crumb li {
  margin: 0;
  padding-left: 0;
  color: #595f62;
  font-size: 0.87em;
  font-weight: 400;
  text-decoration: underline;
}

.crumb li + li {
  margin-left: 0.8em;
}

.main {
  display: flex;
}

.productPane {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
}

.subText {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.sideBar {
  background-color: #ffff;
  padding: 2em;
}

.flex1 {
  flex: 1;
}

.flex4 {
  flex: 4;
}

@media screen and (max-width: 600px) {
  .productPane {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .productPane {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
}
