.container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 2em;
  border-top: 1px solid #e0e0e0;
  padding: 1.25em 1.6em;
}

.circle {
  align-items: center;
  justify-items: center;
}

.text {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 0.4em;
}

.dash {
  margin: 0 1em 0.3em;
}

.addressAndSummary {
  display: flex;
  padding: 0 1em;
}

.form {
  background-color: #fff;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 0.1fr 2fr;
  grid-template-areas:
    "firstname . lastname"
    "address address address"
    "address address address"
    "city . state";
}

.firstname {
  grid-area: firstname;
}

.lastname {
  grid-area: lastname;
}

.address {
  grid-area: address;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.button {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  margin-top: 2em;

  width: 100%;
  height: 48px;

  /* Colors/Primary */

  background: #0c8dba;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.maxWidthForm {
  width: 100%;
}

.mleft {
  margin-left: 5em;
}

.formContainer {
  border-top: 1px solid #e0e0e0;
}

.message {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 1.2em 0 0 0;
  margin: 0;
}

.rightCard {
  display: flex;
  background: #ffffff;
  border-radius: 4px;
  padding: 1em;
  flex-direction: column;
}

.orderDetail {
  display: flex;
  justify-content: space-between;
}

.point {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.price {
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}

.red {
  color: red;
}

.maxWidth {
  max-width: 132px;
  margin: 2.31em 0;
}

.continueCheckout {
  height: 48px;
  width: 272px;
  border-radius: 3px;
  background-color: #0c8dba;
  border: none;
  color: #ffffff;
  margin-bottom: 1em;
  margin-top: 2.18em;
  align-self: center;
}

.continueShopping {
  height: 48px;
  width: 272px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #0c8dba;
  color: #0c8dba;
  align-self: center;
}

.accept {
  font-family: Nunito;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.56em;
}
