.container {
  /* margin: 0 auto; */
  background: linear-gradient(
    180deg,
    #0c8dba -72.11%,
    #0c8dba -72.09%,
    rgba(12, 141, 186, 0) 100%
  );
  align-items: "center";
  justify-content: "center";
  display: "flex";
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.signin {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mb5 {
  margin-bottom: 0.2em;
}

.bannerText {
  color: #03232e, 100%;
  font-size: 3rem;
}
/* .main {
  background: linear-gradient(
    180deg,
    #0c8dba -72.11%,
    #0c8dba -72.09%,
    rgba(12, 141, 186, 0) 100%
  );
  align-items: "center";
  justify-content: "center";
  display: "flex";
  width: 100%;
} */

.firstRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 0;
  margin-top: 7.9em;
  width: 100%;
}

.firstRow + .firstRow {
  margin-top: 2em;
}
/* Target all paragraphs in first row */
.firstRowBox p {
  color: #03232e;
  font-size: 1.25rem;
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin-top: 2em;
  width: auto;
}

.subheaderAndLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subheaderAndLink a {
  color: #0070f3;
}

.button {
  background: #0c8dba;
  color: #ffffff;
  width: 280px;
  padding: 0.6875em 6.625em;
  border-radius: 3px;
  border: none;
  margin-top: 1.5em;
  text-align: center;
}

.oneEmPadding {
  padding: 0.5em;
}
.categoryBoxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  max-width: 400px;
  max-height: 400px;
}

.categoryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f4f4;
  padding-bottom: 0.45em;
  border-radius: 4px;
  height: 100px;
  width: 100px;
}
.categoryBox > p {
  background-color: #f1f4f4;
  padding: 0.43em 0;
  margin: 0;
}

.newsLetterSection {
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 141, 186, 0.3);
  width: 100%;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}

.emailInput {
  width: 502px;
  height: 50px;
  border-radius: 3px;
  border: none;
  padding-left: 0.1em;
}

.subscribeButton {
  background-color: #0c8dba;
  padding: 0.6875em 6.625em;
  border-radius: 3px;
  border: none;
  margin-left: 0.3em;
  color: #ffffff;
}

.fx {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  margin: 0;
}

.secondRow {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding: 0;
  max-width: 1600px;
}

.secondRowHeader {
  display: flex;
  align-items: center;
  float: left;
  /* margin-bottom: 1.75em; */
}

.secondRowHeader a {
  color: #0070f3;
}

.secondRowGallery {
  display: flex;
}

.secondRowGallery div {
  margin-left: 0.5em;
}

.galleryBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
}

.galleryBox p {
  font-size: 1rem;
  font-weight: lighter;
}

.footer {
  width: 100%;
  border-top: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #03232e;
}

.footerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4.6em;
  padding: 4em 5.93em;
}

.bio {
  color: #d9dbe1;
  line-height: 1.5em;
  font-size: 0.87rem;
  font-weight: 400;
  max-width: 18em;
}

.footerSocials {
  display: flex;
  justify-content: flex-start;
}

.socialLinks + .socialLinks {
  margin-left: 1.7em;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.aboutUsHeader {
  line-height: 1.875rem;
  font-weight: 600;
  font-size: 1.25;
  color: #ffffff;
  margin: 0;
  align-self: start;
}

.aboutUs ul {
  list-style: none;
  color: #d9dbe1;
  padding: 0;
  align-self: start;
  font-size: 0.87rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.aboutUs ul li + li {
  margin-top: 0.75em;
}

.aboutUs ul li img {
  margin-right: 0.75em;
}

.contactUsPoints {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactPoints {
  margin-left: 0.8em;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media screen and (max-width: 600px) {
  .firstRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    margin: 0;
    grid-gap: 2em;

    margin-top: 7.9em;
  }

  .secondRow {
    max-width: 800px;
  }

  .gridRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-top: 2em;
    width: auto;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .firstRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: left;
    margin: 0;
    grid-gap: 2em;
    margin-top: 7.9em;
  }

  .secondRow {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .firstRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: left;
    margin: 0;
    grid-gap: 2em;
    margin-top: 7.9em;
  }

  .secondRow {
    max-width: 1600px;
  }
}
