/* Move to general styles */
.container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.crumb {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

.crumb li {
  margin: 0;
  padding-left: 0;
  color: #595f62;
  font-size: 0.87em;
  font-weight: 400;
  text-decoration: underline;
}

.crumb li + li {
  margin-left: 0.8em;
}

/* End move to general styles */

.orderSummary {
  display: flex;
}

.leftCard {
  display: flex;
  background: #ffffff;
  border-radius: 4px;
  padding: 1em;
  flex-direction: column;
}

.item {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  padding: 1em;
}

.counterContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}

.remove {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ba390c;
  margin-right: 1em;
}

.addToWishlist {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #0c8dba;
  margin-left: 1em;
}

.price {
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: right;
  padding: 0;
  margin: 0;
}

.header {
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.rightCard {
  display: flex;
  background: #ffffff;
  border-radius: 4px;
  padding: 1em;
  flex-direction: column;
}

.orderDetail {
  display: flex;
  justify-content: space-between;
}

.carousel {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1600px;
}

@media screen and (max-width: 600px) {
  .carousel {
    max-width: 800px;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .carousel {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .carousel {
    max-width: 1600px;
  }
}
