.form {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  /* grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "fullname email"
    "phonenumber ."
    "password newpassword"
    ". button"; */
}

.fullname {
  display: flex;
  margin-top: 2em;
}

.email {
  grid-area: email;
}

.phonenumber {
  margin-top: 2em;
}

.password {
  display: flex;
  border-top: 1px solid #e0e0e0;
  margin-top: 2em;
  padding-top: 2em;
}

.newpassword {
  grid-area: newpassword;
}

.button {
  justify-content: flex-end;
  display: flex;
}
